@using PerfectBudgetApp.Models.Expenses;
@using PerfectBudgetApp.Models.Statistics;
@using System.Data;

@model StatisticsViewModel
@{
    ViewBag.Title = "All Statistics";
}


<div class="container" style=" margin-bottom:0px;  vertical-align: middle;">
    <div class="row justify-content-between">
        <div class="col-2" style=" vertical-align: middle;">
            <h1> Expenses </h1style>
        </div>
        <div class="col-2" style=" vertical-align: middle;">
            <form class="input-group-sm" asp-controller="Expense" asp-action="CreateExpense" method="get">
                <input class="mb-xl-4 btn btn-light mb-2 w-100 p-3 fw-bold" style="color:black; background-color:greenyellow;" type="submit" value="Add Expense" />
            </form>
        </div>
    </div>
</div>
<hr style="margin-top:0px;" />

<div class="row">
    <div class="col-3 mb-3">
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>Last 30 days</h3>
                        <canvas id="barChart" width="1600" height="1600" style="width:1607px;height:1610px;"></canvas>
                    </div>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $.ajax({
                            type: "POST",
                            url: "/Statistics/GetTotalOrder",
                            data: "",
                            contextType: "application/json; charset=utf8",
                            dataType: "json",
                            success: OnSuccess
                        });

                        function OnSuccess(data) {
                            const barChart = document.getElementById('barChart');
                            var _data = data;
                            var _labels = _data[0];
                            var _ChartData = _data[1];
                            var colors = ['Red', 'Blue', 'Green', 'Yellow', 'Purple', 'Orange', 'Cian', 'Grey'];

                            new Chart(barChart,
                                {
                                    type: 'pie',
                                    data: {
                                        labels: _labels,
                                        datasets: [{
                                            backgroundColor: colors,
                                            data: _ChartData,
                                            borderWidth: 1
                                        }]
                                    }
                                })
                        }
                    });
                </script>

            </div>
        </div>
    </div>

    <div class="col-3 mb-3">
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>Last 7 days</h3>
                        <canvas id="barChart" width="1600" height="1600" style="width:1607px;height:1610px;"></canvas>
                    </div>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $.ajax({
                            type: "POST",
                            url: "/Statistics/GetTotalOrder",
                            data: "",
                            contextType: "application/json; charset=utf8",
                            dataType: "json",
                            success: OnSuccess
                        });

                        function OnSuccess(data) {
                            const pieChart = document.getElementById('pieChart');
                            var _data = data;
                            var _labels = _data[0];
                            var _ChartData = _data[1];
                            var colors = ['Red', 'Blue', 'Green', 'Yellow', 'Purple', 'Orange', 'Cian', 'Grey'];

                            new Chart(pieChart,
                                {
                                    type: 'pie',
                                    data: {
                                        labels: _labels,
                                        datasets: [{
                                            backgroundColor: colors,
                                            data: _ChartData,
                                            borderWidth: 1
                                        }]
                                    }
                                })
                        }
                    });
                </script>

            </div>
        </div>
    </div>
</div>
